# Node modules
node_modules/

# TypeScript compiled output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local

# IDE / Editor settings
.vscode/
.idea/

# Husky hooks
.husky/_/
.husky/pre-commit

# Temporary files
*.tmp
*.temp

package-lock.json

logs